body {
  background: #404040;
  color: #cdcdcd;
}
.container {
  margin-left: 15%;
  margin-right: 15%;
}
.container header {
  display: block;
  background: #9c3f12;
}
.container footer {
  margin: 0 auto;
}
